Auth0__Domain=seu-tenant.us.auth0.com
Auth0__Audience=https://sua-api-musica
Auth0__ClientId=seu-client-id
Auth0__ClientSecret=seu-client-secret
Auth0__Connection=Username-Password-Authentication
Auth0__ManagementClientId=seu-management-client-id
Auth0__ManagementClientSecret=seu-management-client-secret